html {
    background-color: blanchedalmond;
    height: 100%;
}

.rounded-image {
    border-radius: 20px;  /* Умеренное скругление */
    width: 300px;
  }
  
#hello {
    color: crimson;
    text-align: center;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
